<div>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <h1 class="font-bold text-4xl">ログイン前のページ</h1>
  <div id="root"></div>
</div>

<%= render 'google_login_api/callback' %>
</div>

<h1>GitHub Login</h1>

<% if @auth_url %>
  <%= link_to 'Login with GitHub', @auth_url, class: 'btn btn-primary' %>
<% else %>
  <p>Authentication link not available.</p>
<% end %>
